.my-button {
    font-family: "Nunito";
    background-color: #674ea7;
    border: none;
    color: white;
    padding: 10px 250px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
  }
  
  .my-button:hover {
    background-color: #674ea7;
  }